body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust:none;
}
.bigBox {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 111111111;
}
.bigBox .home {
  position: fixed;
  top: .3em;
  left: .3em;
  z-index: 9999999;
  background: rgba(0, 0, 0, 0.5);
  height: 1rem;
  width: 1rem;
  text-align: center;
  line-height: 1em;
  border-radius: .15rem;
  display: none;
}
.bigBox .home img {
  height: 1rem;
  margin: auto;
}
.bigBox > .left {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  transition: all .5s;
}
.bigBox > .left .boxTitle {
  width: 100%;
  text-align: center;
  margin: .5rem;
}
.bigBox > .left .mapBox {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.bigBox > .left .mapBox #mainmap {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 8%;
  margin: auto;
}
.bigBox > .left .mapBox #mainmap img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.bigBox > .left .mapBox #mainmap .clickBox {
  height: 3rem;
  width: 4rem;
  position: absolute;
  bottom: 20%;
  left: 20%;
  z-index: 9999999;
}
.bigBox > .left .mapBox .floatBox {
  box-sizing: border-box;
  display: flex;
  opacity: 0;
  background: white;
  height: 5rem;
  border-radius: .1rem;
  width: 45%;
  position: absolute;
  top: 10rem;
  left: 20rem;
  border: 1px solid #CCCCCC;
  transition: all .5s;
  flex-direction: column;
  justify-content: space-between;
}
.bigBox > .left .mapBox .floatBox .title {
  text-align: center;
  font-size: .23em;
  color: black;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}
.bigBox > .left .mapBox .floatBox .three {
  width: 50%;
  position: absolute;
  left: 20%;
  right: 0;
  margin: auto;
}
.bigBox .xia {
  height: 30%;
  position: fixed;
  width: 100%;
  bottom: -100%;
  left: 0;
  transition: all .5s;
  background-color: rgba(0, 0, 0, 0.5);
}
.bigBox .xia .conBox {
  height: 95%;
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.bigBox .xia .conBox .con {
  box-sizing: border-box;
  height: 100%;
  flex-grow: 1;
  padding: 0;
  width: 100%;
  padding: 0% 0%;
  list-style: none;
  display: flex;
  margin: 0;
  justify-content: space-between;
  flex-direction: column;
}
.bigBox .xia .conBox .con:last-child {
  border-bottom: 0px solid #ccc;
}
.bigBox .xia .conBox .con .cons {
  height: 100%;
  width: 100%;
  margin-left: 3%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.bigBox .xia .conBox .con .cons .left {
  width: 100%;
  float: left;
  height: 100%;
  position: relative;
}
.bigBox .xia .conBox .con .cons .left img {
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.bigBox .xia .conBox .con .cons .right {
  height: 100%;
  flex-grow: 1;
  width: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bigBox .xia .conBox .con .cons .right ul {
  padding-left: 25% ;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.bigBox .xia .conBox .con .cons .right ul li {
  width: 100%;
  font-size: .35rem;
  color: white;
  line-height: 2;
  list-style-type: disc ;
  font-weight: 300;
}
.bigBox > .right {
  height: 100%;
  width: 30%;
  transition: all .5s;
  right: -30%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
.bigBox > .right .conBox {
  height: 85%;
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  flex-direction: column;
}
.bigBox > .right .conBox .con {
  box-sizing: border-box;
  height: 20%;
  flex-grow: 1;
  padding: 0;
  width: 100%;
  padding: 0% 0%;
  list-style: none;
  margin: 0;
  border-bottom: 1px solid #ccc;
}
.bigBox > .right .conBox .con:last-child {
  border-bottom: 0px solid #ccc;
}
.bigBox > .right .conBox .con .cons {
  height: 100%;
  width: 85%;
  margin-left: 3%;
  display: flex;
  flex-grow: 1;
}
.bigBox > .right .conBox .con .cons .left {
  width: 100%;
  float: left;
  height: 100%;
  position: relative;
}
.bigBox > .right .conBox .con .cons .left img {
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.bigBox > .right .conBox .con .cons .right {
  height: auto;
  flex-grow: 1;
  width: 100%;
  float: left;
  margin-left: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bigBox > .right .conBox .con .cons .right ul {
  width: 100%;
  margin: auto;
  padding-left: 20%;
}
.bigBox > .right .conBox .con .cons .right ul li {
  width: 100%;
  font-size: .2em;
  color: white;
  font-weight: 300;
  list-style-type: disc ;
}
.bigBox .flotBox {
  position: fixed;
  height: 4%;
  top: 6%;
  left: .3em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: .2rem;
}
.bigBox .flotBox img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  margin: auto;
}
.bigBox .box {
  display: block;
  width: 300%;
  position: fixed;
  width: 5em;
  top: 14%;
  left: -100%;
  transition: all .5s;
  margin: auto;
  font-size: .4rem;
  background: rgba(135, 206, 250, 0.5);
  overflow: hidden;
  border-top-right-radius: .15rem;
  border-bottom-right-radius: .15rem;
}
.bigBox .box .boxTitle {
  line-height: 2;
  text-align: center;
  color: white;
  font-weight: 400;
  width: 100%;
  border-bottom: 1px solid white;
}
.bigBox .box .boxTitle:last-child {
  border-bottom: 0;
}
@media screen and (min-width: 1201px) {
  .bigBox > .left {
    width: 65% !important;
  }
  .bigBox > .left .mapBox {
    height: 100% ;
  }
  .bigBox > .right {
    width: 30% ;
  }
  .floatBox {
    width: 60%!important;
  }
}
@media screen and (max-width: 1025px) {
  .bigBox > .left {
    width: 100% ;
  }
  .bigBox > .right {
    display: none ;
  }
}
@media screen and (max-width: 770px) {
  .bigBox > .left {
    width: 100% ;
  }
  .bigBox > .right {
    display: none ;
  }
}
